#logo {
  max-height: 130px;
  max-width: 130px;
  margin: 10px;
}
ion-searchbar {
  --border-radius: 30px;
}
#communities-row {
  max-width: 50%;
  border-right: 2px;
  border-right-style: solid;
  border-right-color: black;
  ion-avatar {
    margin: 5px;
  }
}
#group-label {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.25rem;
}
