<ion-header>
  <ion-toolbar color="primary">
    <img id="logo" src="assets/educo-logo.svg" width="20%" slot="start"/>
    <ion-searchbar [placeholder]="searchName" slot="end"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="communitiesTab">
    <div id="communities-row">
      <ion-segment [(ngModel)]="currentGroupId" scrollable (ionChange)="setCurrentGroup($event.detail.value)">
        <ion-segment-button *ngFor="let community of (communities | async)" [value]="community.id">
          <ion-avatar>
            <img [src]="community.imageUrl"/>
          </ion-avatar>
        </ion-segment-button>
      </ion-segment>
      <ng-template #loading>
        <div id="loading-div">
          <ion-spinner></ion-spinner>
        </div>
      </ng-template>
    </div>
    <div id="actions-row" slot="end">
      <ion-button (click)="presentGroupsModal()">Ver tudo</ion-button>
    </div>
  </ion-toolbar>
  <ion-toolbar *ngIf="communitiesTab" color="primary">
    <ion-label id="group-label" slot="start">{{(currentGroup | async)?.name}}</ion-label>
    <ion-segment [(ngModel)]="currentRouterLink" slot="end" scrollable (ionChange)="changeCommunityRoute($event.detail.value)">
      <ion-segment-button value="posts">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="participants">
        <ion-icon name="people"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
