<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="dismissModal()">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <div id="textarea-div">
      <textarea autofocus autoGrow placeholder="Digite o conteúdo do post"></textarea>
    </div>
    <div id="buttons-div" width="100%">
      <ion-button class="action-button" strong (click)="presentImageSheet()">
        <ion-label slot="start">Fotografar</ion-label>
        <ion-icon slot="end" name="camera"></ion-icon>
      </ion-button>
      <ion-button class="action-button" strong>Enviar post</ion-button>
    </div>
  </div>  
</ion-content>
