<div>
  <ion-card button *ngIf="(author | async) as author; else loading">
    <ion-card-content>
      <ion-grid>
        <ion-row id="text-row">
          <ion-col>
            {{ post.text }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div id="indicator-row">
              <div>
                <ion-icon name="heart"></ion-icon>
                <p>0</p>
              </div>
              <div>
                <ion-icon name="chatbox-ellipses"></ion-icon>
                <p>0</p>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div id="author-row">
              <p> {{ author.name }} </p>
              <ion-avatar>
                <img [src]="author.imageUrl"/>
              </ion-avatar>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ng-template #loading>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div id="indicator-row">
                <div>
                  <ion-icon name="heart"></ion-icon>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </div>
                <div>
                  <ion-icon name="chatbox-ellipses"></ion-icon>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div id="author-row">
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-template>
</div>
