<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <ion-list>
      <ion-item class="group-item" *ngFor="let community of (communities | async)" (click)="dismissModal(community.id)" button>
        <ion-avatar>
          <img [src]="community.imageUrl"/>
        </ion-avatar>
        <ion-label>{{community.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentGroupActionSheet()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
