<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="communities">
        <ion-icon name="people"></ion-icon>
        <ion-label>Comunidades</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="store">
        <ion-icon name="storefront"></ion-icon>
        <ion-label>Loja</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
