ion-card-title {
  margin: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  ion-avatar {
    margin-right: 10px;
  }
}
#latest-label {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0px 0px 10px;
  display: block;
}
#loading-div {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
